.pagination-container {
  display: flex;
  font-size: 30px;

  position: fixed;
  bottom: 0;
  background: #5b4770c1;
  color: #FFFFFF;
  width: 80%;
  justify-content: center;
  border-radius: 10px;
}

.pagination-page-counter {
  width: 100px;
  text-align: center;
  transition: 0.3;
}

.paginationButton {
  border: none;
  background: none;
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.paginationButton:hover {
  filter: drop-shadow(1.2);
  filter: invert(0.5);
}

.paginationButton:active {
  filter: drop-shadow(2);
  filter: invert(1);
}

.paginationButton_doubleLeft {
  background-image: url(../../../assets/images/dictionary/pagination/doubleLeft.svg);
}

.paginationButton_left {
  background-image: url(../../../assets/images/dictionary/pagination/left.svg);
}

.paginationButton_right {
  background-image: url(../../../assets/images/dictionary/pagination/right.svg);
}

.paginationButton_doubleRight {
  background-image: url(../../../assets/images/dictionary/pagination/doubleRight.svg);
}