.sprint-modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(41, 41, 41, 0.8);
  z-index: 100;
  &:not(.sprint-modal__stop) {
    cursor: pointer;
  }
}

.sprint-modal__stop {
  box-sizing: border-box;
  position: fixed;
  top: calc(40% + 45px);
  left: calc(50% + 45px);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 40vw;
  height: 30vh;
  padding: 60px 20px 40px;
  background-color:white;
  border-radius: 5px;
  z-index: 101;

  @media screen and (max-width: 850px) {
    width: 60%;
  }
}

.sprint-modal__close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  cursor: pointer;
}

.sprint-modal__title {
  font-size: 24px;
  color: black;
}

.sprint-modal__buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.sprint-modal__button {
  width: 40%;
  height: 50px;
  font-size: 18px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &_close {
    background-color: rgb(80, 161, 161);
  }

  &_continue {
    background-color: rgb(91, 166, 91);
  }
}