.sprint-modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(41, 41, 41, 0.8);
  z-index: 100;
  &:not(.sprint-modal__stop) {
    cursor: pointer;
  }
}

.sprint-modal__stop {
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 70vh;
  padding: 60px 20px 40px;
  background-color:white;
  border-radius: 5px;
  z-index: 101;
}

.sprint-modal__close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  cursor: pointer;
}